

body {
  background: #F5F4F0;
  border: #D9D9D9;
}

#container {
  box-sizing: border-box;
  width: 1120px;
  padding: 40px;
  margin: 40px auto;
}


.first {
  width: 1120px;
  height: 660px;

  border-radius: 28px;
}

.second {
  width: 1120px;
  height: 350px;
  border-radius: 28px;
}


